<div id="main">
  <div id="primary">
    <div id="content" role="main">
    
    <div id="crumbs">
    	<a href="#">Home</a> <span class="delimiter">/</span> 
    	<span class="current">About</span>
    </div>
  				

    <!-- begin article -->
    <article class="page hentry">
    	<header class="entry-header">
  		<h1 class="entry-title"><a href="#">About</a></h1>
      </header>
      <!-- .entry-header -->
      
      <div class="entry-content">
      
      	<div class="one-third">
      		<p><img src="assets/style/images/art/about-1.jpg" alt="" class="aligncenter" />
  	    </div>
  		<div class="two-third last">
  			<p>I'm Developer at AsNet Informatics and Trading Co., Ltd Da Nang, Viet Nam.</p>
        <p>We believe that you should own your own identity. That your identity should be both projected and protected. It should encompass the different facets of your life. It should be portable and universally accessible. And most importantly, it should be easy to create and manage.</p>
  			<span style="display:block; height:20px;"></span></p>
  			<h4>It's me <3 </h4>
  			<p>I'm alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
  			<p>I'm so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
  		</div>
  		<div class="clear"></div>

   	</div><!-- .entry-content -->
    </article><!-- end article -->
    </div><!-- #content -->
  </div><!-- #primary -->
</div><!-- #main -->