<div id="main">
	<div id="primary">
		<div id="content" role="main">
			<div class="intro">Hello! Welcome to my blog. I am DP. Here on this blog you will be able to find my life event as well as everything I like across the internet world.</div>
			<article class="post hentry format-image">
				<header class="entry-header">
					<h2 class="entry-title"><a href="post.html">A Wonderful DP</a></h2>
					<div class="entry-meta">
		    		<div class="entry-format">
		      		<span class="image-format">image</span>
		      	</div>
		    		<span class="sep"> | </span>
		    		<a href="#">
		    			<time class="entry-date">Jan 21, 2015</time>
		    		</a>
		    		<span class="sep"> | </span>	
		    		<span class="cat-links"> 
		    			<a href="#">Photography</a>
		    		</span>
		    		<span class="sep"> | </span>
		    		<div class="comments-link">
		        	<a href="#">4 Comments</a>
		        </div>
			   	</div>
			   	<div class="entry-content">
			      <div class="full-size">
			      	<a href="post.html"><img width="1040" height="535" src="assets/style/images/art/post4.jpg" alt=""/></a>
			      </div>
			      <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>

			 		</div>
				</header>
			</article>
			<article class="post hentry format-standard">
				<header class="entry-header">
					<h2 class="entry-title">
						<a href="post.html">The Meridian Sun </a>
					</h2>
					<div class="entry-meta">
	      		<div class="entry-format">
	        		<span class="standard-format">standard</span>
	        	</div>
	      		<span class="sep"> | </span>
	      		<a href="#">
	      			<time class="entry-date">Jan 21, 2015</time>
	      		</a>
	      		<span class="sep"> | </span>	
	      		<span class="cat-links"> 
	      			<a href="#">Article</a>
	      		</span>
	      		<span class="sep"> | </span>
	      		<div class="comments-link">
		        	<a href="#">1 Comment</a>
		        </div>
		     	</div>
		    	<!-- .entry-meta -->
		    </header>
		    <div class="entry-content">
     			<p>When, while the <strong>lovely valley</strong> teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies.</p>
					<p>Then I feel the <a href="#">presence of the Almighty</a>, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</p>
 				</div> <!-- .entry-content -->
			</article>

			<!-- begin article -->
		  <article class="post hentry format-gallery">
		  	<header class="entry-header">
				<h2 class="entry-title">
					<a href="post.html">Gallery Format</a>
				</h2>
				<div class="entry-meta">
      		<div class="entry-format">
        		<span class="gallery-format">gallery</span>
        	</div>
      		<span class="sep"> | </span>
      		<a href="#"><time class="entry-date">May 20, 2012</time></a>
      		<span class="sep"> | </span>	
      		<span class="cat-links"> <a href="#">Photography</a></span>
      		<span class="sep"> | </span>
      		<div class="comments-link">
	        	<a href="#">1 Comment</a>
	        </div>
		    </div> <!-- .entry-meta -->

		    </header> <!-- .entry-header -->
		    <div class="entry-content">
	      	<ul class="gallery-items">
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery1-full.jpg" class="view" rel="gallery"  title="Transparent Flower">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery1.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery2-full.jpg" class="view" rel="gallery" title="Losing Toucing Searching">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery2.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery3-full.jpg" class="view" rel="gallery" title="Good Frames Ugly Picture">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery3.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery4-full.jpg" class="view" rel="gallery" title="Faceless Disguise">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery4.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery5-full.jpg" class="view" rel="gallery" title="Drop Your Mask">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery5.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery6-full.jpg" class="view" rel="gallery" title="The Smoke Will Lead">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery6.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery7-full.jpg" class="view" rel="gallery" title="I Have to Go on a Diet">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery7.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery8-full.jpg" class="view" rel="gallery" title="Heartbeats Slow">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery8.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery9-full.jpg" class="view" rel="gallery" title="Every Little Thing">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery9.jpg" alt=""/>
		      		</a>
		      	</li>
		      	<li class="item">
		      		<a href="assets/style/images/art/gallery10-full.jpg" class="view" rel="gallery" title="Another Word for Desperate">
		      			<span class="overlay zoom"></span>
		      			<img src="assets/style/images/art/gallery10.jpg" alt=""/>
		      		</a>
		      	</li>
	      	</ul>
					<p>O my friend &#8212; but it is too much for my strength &#8212; I sink under the weight of the splendour of these visions! A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
					<p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>

		 		</div> <!-- .entry-content -->
		  </article> <!-- end article -->
		</div>
	</div>
</div>