<div class="main-content">
<h1>LOTTERIA</h1>

<iframe src="http://www.minhngoc.net.vn/free/index.php" width="800"
 height="2000" frameborder="0" scrolling="auto" id="iframe_xosominhngoc"
 name="iframe_xosominhngoc"></iframe>
 </div>