<div class="main-content">
<table class="table table-striped">
   <caption>Lịch Mở Thưởng</caption>
   <thead>
      <tr>
         <th>Lịch Mở Thưởng</th>
         <th>Miền Bắc</th>
         <th>Miền Trung</th>
         <th>Miền Nam</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Thứ 2</td>
         <td>
         		<div> Xổ số Hà Nội </div>
         </td>
         <td>
         		<div> Xổ số Phú Yên - <strong>PY</strong> </div>
         		<div> Xổ số Thừa Thiên Huế - <strong>TTH</strong></div>
         </td>
         <td>
         		<div> Xổ số TP.HCM - <strong>HCM </strong></div>
         		<div> Xổ số Cà Mau - <strong>CM </strong></div>
         		<div> Xổ số Đồng Tháp - <strong>DT</strong> </div>
         </td>
      </tr>
      <tr>
         <td>
         		<div>Thứ 3 </div>
         	</td>
         <td>
         		<div> Xổ số Quảng Ninh </div>
         	</td>
         <td> 
         		<div> Xổ số Đắc Lắc - <strong>DLK </strong></div>
         		<div> Xổ số Quảng Nam - <strong>QNM</strong> </div>
         	</td>
         <td>
         		<div>Xổ số Bạc Liêu - <strong>BL</strong></div>
         		<div>Xổ số Bến Tre - <strong>BT</strong></div>
         		<div>Xổ số Vũng Tàu - <strong>VT</strong></div>
         	</td>
      </tr>
      <tr>
         <td>
         		<div>Thứ 4 </div>
         	</td>
         <td>
         		<div> Xổ số Bắc Ninh </div>
         	</td>
         <td> 
         		<div> Xổ số Đà Nẵng - <strong>DNG</strong></div>
         		<div> Xổ số Khánh Hòa - <strong>KH</strong></div>
         	</td>
         <td>
         		<div>Xổ số Cần Thơ - <strong>CT</strong></div>
         		<div>Xổ số Đồng nai - <strong>DN</strong></div>
         		<div>Xổ số Sóc Trăng - <strong>ST</strong></div>
         	</td>
      </tr>

      <tr>
         <td>
         		<div>Thứ 5 </div>
         	</td>
         <td>
         		<div> Xổ số Hà Nội </div>
         	</td>
         <td> 
         		<div> Xổ số Bình Định - <strong>BDI</strong> </div>
         		<div> Xổ số Quảng Bình - <strong>QB</strong></div>
         		<div> Xổ số Quảng Trị - <strong>QT</strong></div>
         	</td>
         <td>
         		<div>Xổ số An Giang - <strong>AG</strong></div>
         		<div>Xổ số Bình Thuận - <strong>BTH</strong></div>
         		<div>Xổ số Tây Ninh - <strong>TN</strong></div>
         	</td>
      </tr>

      <tr>
         <td>
         		<div>Thứ 6 </div>
         	</td>
         <td>
         		<div> Xổ số Hải Phòng </div>
         	</td>
         <td> 
         		<div> Xổ số Gia Lai - <strong>GL</strong></div>
         		<div> Xổ số Ninh Thuận - <strong>NT</strong></div>
         	</td>
         <td>
         		<div>Xổ số Bình Dương - <strong>BD</strong></div>
         		<div>Xổ số Trà Vinh - <strong>TV</strong></div>
         		<div>Xổ số Vĩnh Long - <strong>VL</strong></div>
         	</td>
      </tr>

      <tr>
         <td>
         		<div>Thứ 7 </div>
         	</td>
         <td>
         		<div> Xổ số Nam Định </div>
         	</td>
         <td> 
         		<div> Xổ số Đà Nẵng - <strong>DNG</strong></div>
         		<div> Xổ số Đắc Nông - <strong>DNO</strong></div>
         		<div> Xổ số Quảng Ngãi - <strong>QNG</strong></div>
         	</td>
         <td>
         		<div>Xổ số TP.HCM - <strong>HCM</strong></div>
         		<div>Xổ số Bình Phước - <strong>BP</strong></div>
         		<div>Xổ số Hậu Giang - <strong>HG</strong></div>
         		<div>Xổ số Long An - <strong>LA</strong></div>
         	</td>
      </tr>

      <tr>
         <td>
         		<div>Chủ Nhật </div>
         	</td>
         <td>
         		<div> Xổ số Thái Bình </div>
         	</td>
         <td> 
         		<div> Xổ số Khánh Hòa -<strong> KH </strong></div>
         		<div> Xổ số Kon Tum - <strong>KT</strong></div>
         	</td>
         <td>
         		<div>Xổ số Kiên Giang - <strong>KG</strong></div>
         		<div>Xổ số Lâm Đồng - <strong>LD</strong></div>
         		<div>Xổ số Tiền Giang - <strong>TG</strong></div>
         	</td>
      </tr>
   </tbody>
</table>
</div>